* {
	padding: 0em;
	margin: 0em;
	box-sizing: border-box;
}
table {
	border-collapse: collapse;
	min-width: 90%;
	color: grey;
	text-align: left;
	line-height: 2.5em;
}
.container {
	margin: 2%;
	min-width: 60%;
	position: relative;
	padding: 2%;
	border: 0.1em solid grey;
	border-radius: 2%;
	max-width: 36%;
	box-shadow: 3px 3px 3px 3px rgba(205, 208, 214, 0.5);
	height: 400px;
}
.container:before {
	box-shadow: 0.2em 0.2em 0.2em 0.2em grey;
}
.container:after {
	box-shadow: 0.2em 0.2em 0.2em 0.2em grey;
}
#x {
	position: absolute;
	left: 98%;
	top: -3%;
}
tr {
	border-bottom: 1px solid #e6e6e6;
}
td:first-child {
	color: red;
}
#name {
	color: grey;
}
.sq {
	position: relative;
	float: left;
	margin-left: 3px;
	width: 25px;
	height: 25px;
	background: red;
	color: white;
	font-size: 17px;
	font-weight: bold;
	font-weight: 900;
	text-align: center;
}
.del {
	float: left;
	margin-left: 3px;
	width: 70px;
	height: 25px;
	background: red;
	color: white;
	font-weight: bold;
	text-align: center;
	line-height: 1.5em;
}
.plus {
	position: absolute;
	left: 7px;
	top: 5px;
}
.min {
	position: absolute;
	top: 3px;
	left: 5px;
}
.grey {
	color: grey;
}
.info {
	float: right;
	max-height: 10px;
	margin-top: 20px;
}
.end {
	color: red;
	position: absolute;
	top: 90%;
	left: 50%;
	font-style: italic;
	font-size: 20px;
	font-weight: 900;
}
.calculator {
	float: left;
}
.redactor {
	float: left;
}